.nav {
  overflow: hidden;

  .wrapper {
    position: relative;
    display: flex;
    gap: 50px;
    padding: 20px 10px;
    margin-bottom: 12px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    .wrapper {
      padding: 80px 40px 40px 40px;
      margin-bottom: 0px;
      justify-content: space-between;
    }
  }
}
